* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    padding: 90px 160px;
}

/* Page number 1 */


.main-info {
    height: 100vh;
    background: url('./images/Background.jpg') center/cover;
    color: white;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
}

.menu-item {
    padding: 0 25px;
}

.header-text {
    margin: 140px 0 100px 0;
}


.header-text__headline {
    font-size: 60px;
    margin-bottom: 26px;
    }
    
.header-text__caption {
    font-size: 24px;
    font-weight: normal;
}

.header-info__link {
    border-bottom: 1px solid white;
    font-size: 24px;
}

/* Page number 2 */

.content__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 76px;
}

.content__left {
    margin-right: 125px;
}

/* Page number 3 */

.skills {
    background: #FFFAF2;
}

.skills__title {
    margin-bottom: 85px;
}

.skills-img {
    height: 340px;
    max-width: 350px;
    min-width: 350px;
    background: url("./images/skills_photo.jpeg") center / cover;
    margin-right: 120px;
}

.skills-content {
    display: flex;
}

.skills__chart {
    width: 100%;
}

.chart-item {
    margin-bottom: 10px;
}
.chart-item--title {
    margin-bottom: 65px;
}
.chart-item-row {
    display: flex;
}
.chart-item-row__title {
    font-weight: bold;
    min-width: 180px;
    margin-bottom: 10px;
}

.bar {
    width: 100%;
    height: 24px;
    background: #f5d6ab;
    overflow: hidden;
}

.bar__progress {
    background: #c66c49;
    height: 100%;
    width: 65%;
}
.bar__progress--ux {
    width: 80%;
}

.bar__progress--ui {
    width: 75%;
}

/* page number4 */

.portfolio__content {
    display: flex;
}

.portfolio__gallery {
    display: flex;
}

.gallery-row--right {
    margin-left: 30px;
}

.gallery-row__img {
    display: block;
    width: 100%;
    margin-bottom: 26px;
}


/* page number 5 */

.footer {
    background: #FFFAF2;
}

.footer-title {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
}

.footer-item {
    display: flex;
}

.footer-item__left {
    margin-right: 300px;
}

.footer-item__center {
    margin-right: 300px;
}

.item__left {
    margin: 10px 0;
}

.item__center {
    margin: 10px 0;
}

.item__right {

    margin: 10px 0;
}

@media (max-width: 1240px) {
    .content__left {
        margin-right: 60px;
    }
    .skills-img {
        height: 280px;
        width: 300px;
    }

    .chart-item-row__title {
        min-width: 140px;
    }
}

@media (max-width: 1080px) {
    .content {
        padding: 40px 65px;
    }
    .chart-item--title {
        margin-bottom: 36px;
    }
    .portfolio__content {
        flex-direction: column;
    }

    .footer-item {
        justify-content: space-between;
    }
    .footer-item__left {
        margin-right: auto;
    }
    .footer-item__center {
        margin-right: auto;
    }

    .skills-content {
        display: flex;
        flex-direction: column;
    }

    .skills-img {
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .skills__content {
        flex-direction: column;
    }
    .content__left {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .skills-img {
    height: 420px;
    
    }
    .portfolio__gallery {
        flex-direction: column;
    }
    .gallery-row--right {
        margin: 0;
    }
}

@media (max-width: 700px) {
    .content {
        padding: 28px;
    }
    .content__title {
        margin-bottom: 32px;
    }
    .header {
        margin-bottom: 60px;
    }
    .header-menu {
        flex-direction: column;
    }
    .menu-item {
        padding: 6px 0;
    }
    .header-text {
        margin-bottom: 24px;
    }
    .header-text__headline {
        font-size: 48px;
    }
    .header-text__caption {
        font-size: 24px;
    }
    .header-info__link {
        font-size: 18px;
    }
    .skills__img {
        height: 260px;
    }
}

